.gradient {
    position: relative;
    margin: 10px;
    width: auto;
    height: 100px;
}
.settings, .colors {
    display: flex;
    justify-content: space-between;
}
.colors {
    position: relative;
    top: 20px;
}
.colors span {
    color: white;
}
.btn-edit {
    text-decoration: none;
    font-size: 18px;
    position: relative;
    left: -5px;
    top: -5px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
.btn-delete {
    font-size: 10px;
    position: relative;
    right: -5px;
    top: -5px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}