.gradient-settings {
    width: 100%;
}
.input-box,
.btn-box {
    margin-bottom: 20px;
}
.input-box {
    width: 100%;
    max-width: 240px;
    display: flex;
    justify-content: space-between;
}
.btn-box {
    display: flex;
    justify-content: space-between;
}

.input-with-label {
    position: relative;
}
.first-latter {
    position: absolute;
    margin: 0;
    font-size: 25px;
    color: black;
}
input {
    width: 100px;
    padding-left: 12px;
    outline: none;
    border: 0;
    font-size: 25px;
    height: 35px;
    border-radius: 5px;
}

.gradient-settings-gradient {
    width: auto;
    height: 100px;
    border-radius: 5px;
    background: linear-gradient(to right, greenyellow, gold);
}

.btn-gradient,
.btn-disabled,
.btn-home {
    text-decoration: none;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    color: #0C4AFF;
}
.btn-gradient {
    background: linear-gradient(70deg, greenyellow, gold);
}
.btn-gradient:hover {
    color: #0C9FFF;
    background: linear-gradient(75deg, #B1F822, #22F8DE);
    text-decoration: none;
}
.btn-disabled {
    background: linear-gradient(70deg, rgba(0.3, 173, 255, 47), rgba(0.3, 255, 215, 0));
    pointer-events:none;

}
.btn-home {
    background: linear-gradient(70deg, #00FFA6, #B1F822);
}
.btn-home:hover {
    background: linear-gradient(70deg, #00EF96, #A1E812);
    color: #0C9FFF;
}