.App {
    background-color: #555;
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    padding: 15px;
}
.btn-link {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: blueviolet;
    background: linear-gradient(70deg, mediumspringgreen, lightblue);
}
.btn-link:hover {
    color: greenyellow;
}