.new-gradient {
    width: auto;
    height: 100px;
    background: linear-gradient(to right, greenyellow, gold);
}
.btn-gradient {
    text-decoration: none;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    color: #0C4AFF;
    background: linear-gradient(70deg, greenyellow, gold);
}
.btn-gradient:hover {
    color: #0C9FFF;
    background: linear-gradient(75deg, #B1F822, #22F8DE);
    text-decoration: none;
}
.btn-disabled {
    border: 0;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: #0C4AFF;
    background: linear-gradient(70deg, rgba(0.3, 173, 255, 47), rgba(0.3, 255, 215, 0));
}